{
  "openapi": "3.1.0",
  "info": {
    "title": "API da Cube Hosting",
    "version": "1.0.0",
    "description": "Hospede bots de Discord, sites e APIs em Node.js e Python: envie o .zip, inicie, pare, reinicie, leia logs e métricas, veja a análise das visitas dos sites, cuide das variáveis de ambiente, faça e baixe backups, volte para uma versão anterior, crie bancos de dados (PostgreSQL, MySQL, MongoDB e Redis), guarde arquivos privados no Blob, use um domínio seu nos sites e veja o uso do plano. Para agentes de IA, o servidor MCP da conta (`POST https://app.cubehosting.com.br/api/mcp`, JSON-RPC, com a mesma chave) está em https://docs.cubehosting.com.br/account-mcp.",
    "contact": {
      "name": "Cube Hosting",
      "url": "https://discord.gg/pv6D9tUsDV"
    }
  },
  "servers": [
    {
      "url": "https://app.cubehosting.com.br/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Projetos"
    },
    {
      "name": "Controle"
    },
    {
      "name": "Logs e métricas"
    },
    {
      "name": "Análise"
    },
    {
      "name": "Variáveis de ambiente"
    },
    {
      "name": "Arquivos"
    },
    {
      "name": "Backups"
    },
    {
      "name": "Versões dos envios"
    },
    {
      "name": "Bancos de dados"
    },
    {
      "name": "Blob"
    },
    {
      "name": "Domínios"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Avisos"
    },
    {
      "name": "Conta"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "Listar projetos",
        "description": "Todos os projetos da conta, do mais novo para o mais antigo, sem paginação. O `usage` vem preenchido só nos projetos `running`.\n\n**Permissão da chave:** `projects:read` (Projetos · ver). Veja [Chaves de API](/api-keys).",
        "tags": [
          "Projetos"
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl https://app.cubehosting.com.br/api/projects \\\n  -H \"Authorization: Bearer $CUBE_API_KEY\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const API = 'https://app.cubehosting.com.br/api';\nconst headers = { Authorization: `Bearer ${process.env.CUBE_API_KEY}` };\n\nconst res = await fetch(`${API}/projects`, { headers });\nif (!res.ok) throw new Error((await res.json()).message);\nconst { projects } = await res.json();\nfor (const p of projects) console.log(p.id, p.name, p.status);"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nAPI = \"https://app.cubehosting.com.br/api\"\nheaders = {\"Authorization\": f\"Bearer {os.environ['CUBE_API_KEY']}\"}\n\nr = requests.get(f\"{API}/projects\", headers=headers, timeout=30)\nr.raise_for_status()\nfor p in r.json()[\"projects\"]:\n    print(p[\"id\"], p[\"name\"], p[\"status\"])"
          }
        ],
        "responses": {
          "200": {
            "description": "A lista de projetos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accountId",
                    "projects"
                  ],
                  "properties": {
                    "accountId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "O ID público da sua conta, o mesmo de Minha conta."
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                },
                "example": {
                  "accountId": "5f0c2a1e-8d4b-4c7e-9a31-2b6d0e9f7c14",
                  "projects": [
                    {
                      "id": "01J8Z4B2QK7M3V9T0XW5R6N8CD",
                      "name": "Loja",
                      "description": "",
                      "type": "site",
                      "language": "node",
                      "version": "24",
                      "entry": "dist/server.js",
                      "command": "node dist/server.js",
                      "build": null,
                      "installCommand": null,
                      "root": null,
                      "systemPackages": [],
                      "memoryMb": 512,
                      "port": 3000,
                      "subdomain": "minha-loja",
                      "url": "https://minha-loja.cubehost.dev",
                      "internalHost": "cube-w5r6n8cd",
                      "status": "running",
                      "error": null,
                      "hasAutoRestart": true,
                      "consecutiveCrashes": 0,
                      "lastExit": null,
                      "usage": {
                        "memoryMb": 141,
                        "cpuPercent": 3.4,
                        "networkInBps": 5200,
                        "networkOutBps": 48000
                      },
                      "startedAt": "2026-09-26T18:01:05.000Z",
                      "templateId": null,
                      "restoredFromBackupId": null,
                      "createdAt": "2026-09-26T18:00:00.000Z",
                      "updatedAt": "2026-09-26T18:01:10.000Z"
                    },
                    {
                      "id": "01J8Z3W6N0Q4Y7V2K5T9D1H3XA",
                      "name": "Meu bot",
                      "description": "Atende o servidor da loja",
                      "type": "bot",
                      "language": "node",
                      "version": "24",
                      "entry": "index.js",
                      "command": "node index.js",
                      "build": null,
                      "installCommand": null,
                      "root": null,
                      "systemPackages": [],
                      "memoryMb": 256,
                      "port": null,
                      "subdomain": null,
                      "url": null,
                      "internalHost": "cube-t9d1h3xa",
                      "status": "running",
                      "error": null,
                      "hasAutoRestart": true,
                      "consecutiveCrashes": 0,
                      "lastExit": null,
                      "usage": {
                        "memoryMb": 83,
                        "cpuPercent": 1.2,
                        "networkInBps": 1200,
                        "networkOutBps": 300
                      },
                      "startedAt": "2026-09-26T18:01:05.000Z",
                      "templateId": null,
                      "restoredFromBackupId": null,
                      "createdAt": "2026-09-26T18:00:00.000Z",
                      "updatedAt": "2026-09-26T18:01:10.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_api_key": {
                    "summary": "invalid_api_key",
                    "value": {
                      "status": "error",
                      "code": "invalid_api_key",
                      "message": "Chave de API inválida ou revogada. Confira o cabeçalho \"Authorization: Bearer <chave>\" ou crie outra em Chaves de API no painel."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de pedidos. Traz o cabeçalho `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limit_exceeded": {
                    "summary": "rate_limit_exceeded",
                    "value": {
                      "status": "error",
                      "code": "rate_limit_exceeded",
                      "message": "A sua conta passou do limite da API do plano Free: 10 pedidos por minuto. Espere 42 s e tente de novo."
                    }
                  },
                  "too_many_attempts": {
                    "summary": "too_many_attempts",
                    "value": {
                      "status": "error",
                      "code": "too_many_attempts",
                      "message": "Muitas tentativas. Tente de novo em 15 minutos."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave não tem a permissão `projects:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_scope": {
                    "summary": "insufficient_scope",
                    "value": {
                      "status": "error",
                      "code": "insufficient_scope",
                      "message": "Esta chave não tem a permissão Projetos · ver. Marque a permissão na chave em Chaves de API no painel, ou use outra chave.",
                      "requiredScope": "projects:read"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "projects:read"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createProject",
        "summary": "Criar um projeto",
        "description": "Envia um `.zip` e cria o projeto. A Cube extrai o código, lê a configuração e começa a instalar as dependências: a resposta chega com o projeto em `installing`. Acompanhe pelo [projeto](/api-reference/projects/get) ou pelos [logs](/api-reference/projects/logs) com `source=build`.\n\nA configuração vem do `cube.json` na raiz do `.zip`. Se o formulário trouxer `language` e `command` (ou `language` e `entry`, e o comando sai do arquivo principal; ou só `language`, no `static`, no `go`, no `rust`, no `elixir` e no `php`), o formulário vale e o `cube.json` é ignorado. Sem `cube.json`, vale o arquivo de configuração de outra hospedagem na raiz (`squarecloud.app`, `squarecloud.config`, `discloud.config` ou `.shardcloud`), traduzido para as mesmas chaves ([Vindo de outra hospedagem](/cube-json#vindo-de-outra-hospedagem)). Sem nada disso, um `.zip` só de HTML (o `index.html` na raiz e nenhum `package.json`, `requirements.txt`, `pyproject.toml`, `go.mod`, `composer.json`, `Gemfile`, `mix.exs`, `Cargo.toml` nem projeto do .NET) vira [site estático](/hosting/static-site): a Cube serve os arquivos, sem comando, versão nem build; o `go.mod` sem outro manifesto vira [Go](/hosting/go) (compilado a cada envio), o `composer.json` sem outro manifesto (o `package.json` do Vite do Laravel pode vir junto) vira um [site PHP](/hosting/php) servido pela Cube, o único projeto do .NET na raiz (`.csproj`, `.fsproj`, `.vbproj`) vira [.NET](/hosting/dotnet) com ele de `entry`, o `mix.exs` vira [Elixir](/hosting/elixir) com `mix run --no-halt`, o `Cargo.toml` vira [Rust](/hosting/rust) (compilado em release a cada envio) e um único `.jar` na raiz, sem manifesto, vira [Java](/hosting/java) com `java -jar`. Com o manifesto de outra linguagem só (o `Gemfile` do Ruby, a solução do .NET sem projeto na raiz), `422 missing_config` diz a linguagem e pede o comando. Um envio a cada 3 segundos por conta.\n\nCom `template` no lugar do `file`, o projeto nasce de um [template](/hosting/templates) da Cube: o código vem do template e o `cube.json` dele preenche o que o formulário não trouxer. As variáveis que ele pede vão em `variables`; sem uma obrigatória, o projeto instala e fica `stopped` mesmo com `start=true`, e `missingVariables` diz o que falta: até ela ter valor, [iniciar](/api-reference/projects/start) responde `409 missing_variables`. Sem `memoryMb`, vale a memória sugerida do template, cortada no que sobra no plano e nunca abaixo do mínimo dele. O [Lavalink](/hosting/lavalink) pede 512 MB (`403 template_not_in_plan` no Free, `422 invalid_config` abaixo disso) e a senha dele é gerada pela Cube, na variável `LAVALINK_SERVER_PASSWORD` (a que viesse em `variables` é descartada).\n\nA memória mínima depende do plano: bot **256 MB** nos planos pagos e **100 MB** no Free; site ou API **512 MB**; Java, **256 MB** em qualquer plano (no Free, `403 language_not_in_plan`). Sem `memoryMb` (no formulário e no `cube.json`), vale o mínimo do plano; abaixo dele, `422 invalid_config` com `field: \"memoryMb\"` e `minMemoryMb`. Os mínimos e quanto cabe em cada plano estão em [Listar planos](/api-reference/plans/list).\n\n**Permissão da chave:** `projects:create` (Projetos · criar). Veja [Chaves de API](/api-keys).",
        "tags": [
          "Projetos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "O `.zip` com o código. Até 5 MB no Free e 10 MB nos planos pagos. Obrigatório, a não ser com `template`."
                  },
                  "template": {
                    "type": "string",
                    "enum": [
                      "discord-js-bot",
                      "discord-py-bot",
                      "discord-music-bot",
                      "lavalink",
                      "discord-postgres-bot",
                      "express-api",
                      "fastapi-api",
                      "static-site"
                    ],
                    "description": "Um [template](/hosting/templates) da Cube no lugar do `file` (a lista em [Listar templates](/api-reference/templates/list)). Com os dois, nada é criado."
                  },
                  "variables": {
                    "type": "string",
                    "description": "Variáveis de ambiente gravadas antes da primeira subida, em JSON: `[{\"name\": \"DISCORD_TOKEN\", \"value\": \"...\"}]`. Até 50, com as regras de [Definir variáveis](/api-reference/projects/set-variables)."
                  },
                  "start": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "default": "false",
                    "description": "`true` inicia o projeto assim que a instalação terminar."
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40,
                    "description": "Nome do projeto. Vale se o `cube.json` não tiver `name`; sem nenhum, vira o nome do arquivo."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "bot",
                      "site"
                    ],
                    "description": "Mesmo significado da chave do `cube.json`."
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "node",
                      "python",
                      "java",
                      "go",
                      "php",
                      "ruby",
                      "dotnet",
                      "elixir",
                      "rust",
                      "static"
                    ],
                    "description": "Com `language` e `command` (ou `language` e `entry`; ou só `language` no `static`, o [site só de HTML](/hosting/static-site), no `go`, no `rust`, no `elixir` e no `php`), o formulário vale e o `cube.json` é ignorado."
                  },
                  "version": {
                    "type": "string",
                    "description": "`20`, `22`, `24` ou `26` (Node.js; sem ela, `24`; o `20` está fora de suporte); `3.11`, `3.12`, `3.13` ou `3.14` (Python; sem ela, `3.12`); `21` ou `25` (Java; sem ela, `21`); `1.26` ou `1.27` (Go; sem ela, `1.27`); `8.4` ou `8.5` (PHP; sem ela, `8.4`); `3.4` ou `4.0` (Ruby; sem ela, `3.4`); `10` (.NET); `1.20` (Elixir); `1.98` (Rust)."
                  },
                  "command": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Comando de início, numa linha só. No `go` e no `rust` é opcional: sem ele, roda o programa que o build gera (`/dados/bin/app`; no Rust, o `entry` de `src/bin/<nome>.rs` roda o `/dados/bin/<nome>`). No site `php` também: sem ele, a Cube serve o site (`cube-php-server`, com a pasta `root` ou a `public`). No `elixir` também: sem ele, `mix run --no-halt`. Sem ele, com o `entry`, o comando sai do arquivo principal (no `dotnet`, o `.dll` publicado do projeto, `dotnet /dados/publish/<projeto>.dll`, ou o `.dll` pronto, `dotnet <entry>`)."
                  },
                  "entry": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "O arquivo principal, com a extensão da linguagem (como `cmd/bot/main.go`, `src/Api/Api.csproj` ou `app.dll`). No `go`, é a pasta que o build compila (sem ele, a raiz do `.zip`); no `dotnet`, o projeto que o build publica, em qualquer pasta (sem ele, o único projeto ou a solução da raiz), ou um `.dll` pronto, que roda sem build. Sem `command`, o comando sai dele. Fora do formato, `422 invalid_config` com `field: \"entry\"`."
                  },
                  "memoryMb": {
                    "type": "integer",
                    "minimum": 100,
                    "description": "Memória em MB. O mínimo é o do plano: bot 256 nos planos pagos e 100 no Free; site 512. Sem ela, vale o mínimo do plano; com `template`, a memória sugerida dele, cortada no que sobra e nunca abaixo do mínimo (no Free, o bot entra com 100)."
                  },
                  "port": {
                    "type": "integer",
                    "minimum": 1024,
                    "maximum": 65535,
                    "description": "Só site. Padrão 8080."
                  },
                  "subdomain": {
                    "type": "string",
                    "description": "Só site. Sem ele, a Cube gera um."
                  },
                  "build": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Comando de build. Ausente = automático; vazio = sem build. O site estático não tem."
                  },
                  "installCommand": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Comando de instalação, no lugar da instalação automática da linguagem (como `npm install --omit=dev`). Ausente = a automática; vazio = não instala nada. Numa linha só, sem caractere de controle; fora disso, `422 invalid_config` com `field: \"installCommand\"`. O site estático não tem. Veja [installCommand](/cube-json#param-installcommand)."
                  },
                  "root": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "No site `php` sem `command`: a pasta que a Cube serve (sem ela, a `public` quando existe, senão a raiz). No `static`: a pasta servida, como `dist` (`\"\"` = a raiz). Sem ela, a pasta do `index.html` mais raso do `.zip` (a raiz, ou `dist` quando ele só existe lá). Sem `..` nem pasta que começa com ponto."
                  },
                  "systemPackages": {
                    "type": "string",
                    "description": "[Pacotes do sistema](/cube-json#pacotes-do-sistema), em JSON: `[\"poppler-utils\"]`. Sem ele, valem os `systemPackages` do `cube.json` (também quando o formulário traz `language` e `command`). Nome fora da lista, `422 unsupported_system_package`."
                  },
                  "databaseId": {
                    "type": "string",
                    "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                    "description": "Liga o projeto a um [banco de dados](/hosting/databases) da conta: a string de conexão entra como variável de ambiente antes da primeira subida."
                  },
                  "databaseVariable": {
                    "type": "string",
                    "pattern": "^[A-Za-z_][A-Za-z0-9_]{0,63}$",
                    "description": "O nome da variável com a conexão. Sem ele, o sugerido do banco: `DATABASE_URL` (PostgreSQL e MySQL), `MONGODB_URI` ou `REDIS_URL`."
                  }
                }
              },
              "encoding": {
                "file": {
                  "contentType": "application/zip"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl https://app.cubehosting.com.br/api/projects \\\n  -H \"Authorization: Bearer $CUBE_API_KEY\" \\\n  -F \"file=@meu-bot.zip\" \\\n  -F \"start=true\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { openAsBlob } from 'node:fs';\n\nconst API = 'https://app.cubehosting.com.br/api';\nconst headers = { Authorization: `Bearer ${process.env.CUBE_API_KEY}` };\n\nconst form = new FormData();\nform.set('file', await openAsBlob('meu-bot.zip'), 'meu-bot.zip');\nform.set('start', 'true');\n\nconst res = await fetch(`${API}/projects`, { method: 'POST', headers, body: form });\nconst { project } = await res.json();\nconsole.log(project.id, project.status); // installing"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nAPI = \"https://app.cubehosting.com.br/api\"\nheaders = {\"Authorization\": f\"Bearer {os.environ['CUBE_API_KEY']}\"}\n\nwith open(\"meu-bot.zip\", \"rb\") as zip:\n    r = requests.post(\n        f\"{API}/projects\",\n        headers=headers,\n        files={\"file\": (\"meu-bot.zip\", zip, \"application/zip\")},\n        data={\"start\": \"true\"},\n        timeout=300,\n    )\nr.raise_for_status()\nprint(r.json()[\"project\"][\"id\"])"
          }
        ],
        "responses": {
          "201": {
            "description": "Projeto criado, instalando as dependências.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "project",
                    "missingVariables"
                  ],
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/Project"
                    },
                    "missingVariables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Com `template`: as variáveis obrigatórias dele que não vieram. Com alguma, o projeto instala e não inicia. Vazia sem template."
                    },
                    "hints": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SourceHint"
                      },
                      "description": "Com `file`: o que a análise do envio avisa (o compilado no lugar do código-fonte, as pastas que saíram por serem geradas no build). Vazia quando não há nada a avisar."
                    }
                  }
                },
                "example": {
                  "project": {
                    "id": "01J8Z3W6N0Q4Y7V2K5T9D1H3XA",
                    "name": "Bot discord.js",
                    "description": "Atende o servidor da loja",
                    "type": "bot",
                    "language": "node",
                    "version": "24",
                    "entry": "index.js",
                    "command": "node index.js",
                    "build": null,
                    "installCommand": null,
                    "root": null,
                    "systemPackages": [],
                    "memoryMb": 256,
                    "port": null,
                    "subdomain": null,
                    "url": null,
                    "internalHost": "cube-t9d1h3xa",
                    "status": "installing",
                    "error": null,
                    "hasAutoRestart": true,
                    "consecutiveCrashes": 0,
                    "lastExit": null,
                    "usage": null,
                    "startedAt": null,
                    "templateId": "discord-js-bot",
                    "restoredFromBackupId": null,
                    "createdAt": "2026-09-26T18:00:00.000Z",
                    "updatedAt": "2026-09-26T18:01:10.000Z"
                  },
                  "missingVariables": [
                    "DISCORD_TOKEN"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "O nome em `databaseVariable` ou uma variável de `variables` não vale, ou vieram `file` e `template` juntos. Nada foi criado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "invalid_request",
                    "value": {
                      "status": "error",
                      "code": "invalid_request",
                      "message": "Envie um .zip ou escolha um template, não os dois."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_api_key": {
                    "summary": "invalid_api_key",
                    "value": {
                      "status": "error",
                      "code": "invalid_api_key",
                      "message": "Chave de API inválida ou revogada. Confira o cabeçalho \"Authorization: Bearer <chave>\" ou crie outra em Chaves de API no painel."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave não tem a permissão `projects:create`, ou o plano não comporta mais este projeto.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_scope": {
                    "summary": "insufficient_scope",
                    "value": {
                      "status": "error",
                      "code": "insufficient_scope",
                      "message": "Esta chave não tem a permissão Projetos · criar. Marque a permissão na chave em Chaves de API no painel, ou use outra chave.",
                      "requiredScope": "projects:create"
                    }
                  },
                  "project_limit_reached": {
                    "summary": "project_limit_reached",
                    "value": {
                      "status": "error",
                      "code": "project_limit_reached",
                      "message": "O plano Free permite até 1 bot. Exclua um projeto ou mude de plano.",
                      "limit": 1
                    }
                  },
                  "site_not_allowed": {
                    "summary": "site_not_allowed",
                    "value": {
                      "status": "error",
                      "code": "site_not_allowed",
                      "message": "O plano Free não inclui sites. Mude para um plano pago para hospedar sites e APIs."
                    }
                  },
                  "site_limit_reached": {
                    "summary": "site_limit_reached",
                    "value": {
                      "status": "error",
                      "code": "site_limit_reached",
                      "message": "O plano Block permite até 2 sites. Exclua um site ou mude de plano.",
                      "limit": 2
                    }
                  },
                  "language_not_in_plan": {
                    "summary": "language_not_in_plan",
                    "value": {
                      "status": "error",
                      "code": "language_not_in_plan",
                      "message": "Um projeto Java precisa de pelo menos 256 MB de memória, e o plano Free tem 100 MB. Mude para um plano pago para hospedar Java.",
                      "minMemoryMb": 256
                    }
                  },
                  "template_not_in_plan": {
                    "summary": "template_not_in_plan",
                    "value": {
                      "status": "error",
                      "code": "template_not_in_plan",
                      "message": "O template Lavalink precisa de pelo menos 512 MB de memória e está disponível a partir do plano Block. Mude de plano em Plano e cobrança.",
                      "minMemoryMb": 512
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflito com o estado da conta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "subdomain_taken": {
                    "summary": "subdomain_taken",
                    "value": {
                      "status": "error",
                      "code": "subdomain_taken",
                      "message": "Este subdomínio já é de outro site. Escolha outro.",
                      "field": "subdomain"
                    }
                  },
                  "no_capacity": {
                    "summary": "no_capacity",
                    "value": {
                      "status": "error",
                      "code": "no_capacity",
                      "message": "Nossos servidores estão cheios agora e não dá para liberar mais memória. Tente de novo mais tarde: estamos abrindo mais espaço."
                    }
                  },
                  "account_suspended": {
                    "summary": "account_suspended",
                    "value": {
                      "status": "error",
                      "code": "account_suspended",
                      "message": "Sua conta está suspensa porque o Pix da renovação não foi pago, então os projetos ficam parados. Pague em Plano e cobrança: a conta volta na hora, e o que estava no ar sobe sozinho."
                    }
                  },
                  "beta_ending": {
                    "summary": "beta_ending",
                    "value": {
                      "status": "error",
                      "code": "beta_ending",
                      "message": "Seu beta terminou e a conta está voltando ao plano Free. Espere alguns minutos e tente de novo."
                    }
                  },
                  "free_slot_lost": {
                    "summary": "free_slot_lost",
                    "value": {
                      "status": "error",
                      "code": "free_slot_lost",
                      "message": "Sua vaga do Free acabou porque a meta de mensagens da semana no Discord não foi batida, então os projetos ficam parados. Os arquivos continuam guardados: assine um plano em Plano e cobrança para ligar de novo."
                    }
                  },
                  "account_suspended_manually": {
                    "summary": "account_suspended_manually",
                    "value": {
                      "status": "error",
                      "code": "account_suspended_manually",
                      "message": "Sua conta foi suspensa pela equipe da Cube: Página de phishing em loja.cubehost.dev. Os projetos ficam parados e nada sobe até a suspensão sair. Fale com o suporte no Discord para resolver."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "O banco de `databaseId` não existe ou não é da sua conta, ou o `template` não existe. Nada foi criado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "status": "error",
                      "code": "not_found",
                      "message": "Template não encontrado. Escolha um da lista de templates.",
                      "field": "template"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "O .zip passou do limite do plano (5 MB no Free, 10 MB nos pagos).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_zip": {
                    "summary": "invalid_zip",
                    "value": {
                      "status": "error",
                      "code": "invalid_zip",
                      "message": "O zip passa do limite de 5 MB do plano Free. Tire as dependências (elas são instaladas aqui) e arquivos que o projeto não usa.",
                      "limitMb": 5
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "O .zip ou a configuração foram recusados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_zip": {
                    "summary": "invalid_zip",
                    "value": {
                      "status": "error",
                      "code": "invalid_zip",
                      "message": "O arquivo não é um zip válido (corrompido, protegido por senha ou vazio). Gere o zip de novo e envie."
                    }
                  },
                  "unsafe_zip": {
                    "summary": "unsafe_zip",
                    "value": {
                      "status": "error",
                      "code": "unsafe_zip",
                      "message": "O zip tem atalhos (links) para outros arquivos, e eles não são aceitos. Troque os atalhos pelos arquivos de verdade e envie de novo.",
                      "reason": "link"
                    }
                  },
                  "missing_config": {
                    "summary": "missing_config",
                    "value": {
                      "status": "error",
                      "code": "missing_config",
                      "message": "O zip não tem cube.json. Informe a linguagem e o comando de início do bot. Num site só de HTML, basta o index.html na raiz do .zip."
                    }
                  },
                  "invalid_config": {
                    "summary": "invalid_config",
                    "value": {
                      "status": "error",
                      "code": "invalid_config",
                      "message": "A memória de um bot precisa ser de pelo menos 256 MB no plano Block.",
                      "field": "memoryMb",
                      "minMemoryMb": 256
                    }
                  },
                  "unsupported_language": {
                    "summary": "unsupported_language",
                    "value": {
                      "status": "error",
                      "code": "unsupported_language",
                      "message": "Por enquanto aceitamos Node.js (20, 22, 24 e 26; arquivo principal .js, .mjs, .cjs, .ts, .mts ou .cts), Python (3.11, 3.12, 3.13 e 3.14; arquivo principal .py), Java (21 e 25; arquivo principal .jar), Go (1.26 e 1.27; arquivo principal .go), PHP (8.4 e 8.5; arquivo principal .php), Ruby (3.4 e 4.0; arquivo principal .rb), .NET (10; arquivo principal .csproj, .fsproj, .vbproj ou .dll), Elixir (1.20; arquivo principal .exs), Rust (1.98; arquivo principal .rs) e site estático (HTML, \"static\").",
                      "supported": {
                        "node": [
                          "20",
                          "22",
                          "24",
                          "26"
                        ],
                        "python": [
                          "3.11",
                          "3.12",
                          "3.13",
                          "3.14"
                        ],
                        "java": [
                          "21",
                          "25"
                        ],
                        "go": [
                          "1.26",
                          "1.27"
                        ],
                        "php": [
                          "8.4",
                          "8.5"
                        ],
                        "ruby": [
                          "3.4",
                          "4.0"
                        ],
                        "dotnet": [
                          "10"
                        ],
                        "elixir": [
                          "1.20"
                        ],
                        "rust": [
                          "1.98"
                        ]
                      }
                    }
                  },
                  "unsupported_system_package": {
                    "summary": "unsupported_system_package",
                    "value": {
                      "status": "error",
                      "code": "unsupported_system_package",
                      "message": "O pacote \"openssh-server\" não está na lista dos pacotes do sistema. Aceitamos: build-essential, curl, fonts-dejavu-core, fonts-liberation, fonts-noto-cjk, fonts-noto-color-emoji, ghostscript, git, graphviz, imagemagick, libvips-tools, poppler-utils, python3, sqlite3, tesseract-ocr, tesseract-ocr-por, unzip e zip.",
                      "field": "systemPackages",
                      "supported": [
                        "build-essential",
                        "curl",
                        "fonts-dejavu-core",
                        "fonts-liberation",
                        "fonts-noto-cjk",
                        "fonts-noto-color-emoji",
                        "ghostscript",
                        "git",
                        "graphviz",
                        "imagemagick",
                        "libvips-tools",
                        "poppler-utils",
                        "python3",
                        "sqlite3",
                        "tesseract-ocr",
                        "tesseract-ocr-por",
                        "unzip",
                        "zip"
                      ]
                    }
                  },
                  "insufficient_memory": {
                    "summary": "insufficient_memory",
                    "value": {
                      "status": "error",
                      "code": "insufficient_memory",
                      "message": "Este bot pede 512 MB, mas o plano Block só tem 256 MB livres. Diminua a memória no cube.json, exclua ou reduza outro projeto, ou mude de plano.",
                      "freeMemoryMb": 256,
                      "requestedMemoryMb": 512
                    }
                  },
                  "invalid_subdomain": {
                    "summary": "invalid_subdomain",
                    "value": {
                      "status": "error",
                      "code": "invalid_subdomain",
                      "message": "O subdomínio precisa ter de 3 a 32 caracteres: letras minúsculas sem acento, números e hífen, começando e terminando com letra ou número e sem dois hífens seguidos.",
                      "field": "subdomain"
                    }
                  },
                  "reserved_subdomain": {
                    "summary": "reserved_subdomain",
                    "value": {
                      "status": "error",
                      "code": "reserved_subdomain",
                      "message": "Este subdomínio é reservado ou usa o nome de uma marca ou órgão conhecido, e foi bloqueado para evitar golpes. Escolha outro.",
                      "field": "subdomain"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de pedidos. Traz o cabeçalho `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limit_exceeded": {
                    "summary": "rate_limit_exceeded",
                    "value": {
                      "status": "error",
                      "code": "rate_limit_exceeded",
                      "message": "A sua conta passou do limite da API do plano Free: 10 pedidos por minuto. Espere 42 s e tente de novo."
                    }
                  },
                  "too_many_requests": {
                    "summary": "too_many_requests",
                    "value": {
                      "status": "error",
                      "code": "too_many_requests",
                      "message": "Muitas requisições seguidas. Espere alguns segundos e tente de novo."
                    }
                  },
                  "too_many_attempts": {
                    "summary": "too_many_attempts",
                    "value": {
                      "status": "error",
                      "code": "too_many_attempts",
                      "message": "Muitas tentativas. Tente de novo em 15 minutos."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "O servidor dos projetos não respondeu a tempo. Nada foi alterado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "server_unavailable": {
                    "summary": "server_unavailable",
                    "value": {
                      "status": "error",
                      "code": "server_unavailable",
                      "message": "O servidor dos projetos não respondeu. Tente de novo em instantes."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "projects:create"
            ]
          }
        ]
      }
    },
    "/projects/{id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Ver um projeto",
        "description": "Um projeto da sua conta, com o status e o uso de agora. Um ID de outra conta responde `404`, igual a um que não existe.\n\n**Permissão da chave:** `projects:read` (Projetos · ver). Veja [Chaves de API](/api-keys).",
        "tags": [
          "Projetos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl https://app.cubehosting.com.br/api/projects/$PROJECT_ID \\\n  -H \"Authorization: Bearer $CUBE_API_KEY\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const API = 'https://app.cubehosting.com.br/api';\nconst headers = { Authorization: `Bearer ${process.env.CUBE_API_KEY}` };\n\nconst res = await fetch(`${API}/projects/${process.env.PROJECT_ID}`, { headers });\nconst { project } = await res.json();\nconsole.log(project.status, project.usage?.memoryMb);"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nAPI = \"https://app.cubehosting.com.br/api\"\nheaders = {\"Authorization\": f\"Bearer {os.environ['CUBE_API_KEY']}\"}\n\nr = requests.get(f\"{API}/projects/{os.environ['PROJECT_ID']}\", headers=headers, timeout=30)\nr.raise_for_status()\nproject = r.json()[\"project\"]\nprint(project[\"status\"], project[\"usage\"])"
          }
        ],
        "responses": {
          "200": {
            "description": "O projeto.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "project"
                  ],
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/Project"
                    }
                  }
                },
                "example": {
                  "project": {
                    "id": "01J8Z3W6N0Q4Y7V2K5T9D1H3XA",
                    "name": "Meu bot",
                    "description": "Atende o servidor da loja",
                    "type": "bot",
                    "language": "node",
                    "version": "24",
                    "entry": "index.js",
                    "command": "node index.js",
                    "build": null,
                    "installCommand": null,
                    "root": null,
                    "systemPackages": [],
                    "memoryMb": 256,
                    "port": null,
                    "subdomain": null,
                    "url": null,
                    "internalHost": "cube-t9d1h3xa",
                    "status": "running",
                    "error": null,
                    "hasAutoRestart": true,
                    "consecutiveCrashes": 0,
                    "lastExit": null,
                    "usage": {
                      "memoryMb": 83,
                      "cpuPercent": 1.2,
                      "networkInBps": 1200,
                      "networkOutBps": 300
                    },
                    "startedAt": "2026-09-26T18:01:05.000Z",
                    "templateId": null,
                    "restoredFromBackupId": null,
                    "createdAt": "2026-09-26T18:00:00.000Z",
                    "updatedAt": "2026-09-26T18:01:10.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_api_key": {
                    "summary": "invalid_api_key",
                    "value": {
                      "status": "error",
                      "code": "invalid_api_key",
                      "message": "Chave de API inválida ou revogada. Confira o cabeçalho \"Authorization: Bearer <chave>\" ou crie outra em Chaves de API no painel."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "O projeto não existe ou não é da sua conta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "status": "error",
                      "code": "not_found",
                      "message": "Projeto não encontrado."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de pedidos. Traz o cabeçalho `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limit_exceeded": {
                    "summary": "rate_limit_exceeded",
                    "value": {
                      "status": "error",
                      "code": "rate_limit_exceeded",
                      "message": "A sua conta passou do limite da API do plano Free: 10 pedidos por minuto. Espere 42 s e tente de novo."
                    }
                  },
                  "too_many_attempts": {
                    "summary": "too_many_attempts",
                    "value": {
                      "status": "error",
                      "code": "too_many_attempts",
                      "message": "Muitas tentativas. Tente de novo em 15 minutos."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave não tem a permissão `projects:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_scope": {
                    "summary": "insufficient_scope",
                    "value": {
                      "status": "error",
                      "code": "insufficient_scope",
                      "message": "Esta chave não tem a permissão Projetos · ver. Marque a permissão na chave em Chaves de API no painel, ou use outra chave.",
                      "requiredScope": "projects:read"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "projects:read"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Mudar as configurações",
        "description": "Muda qualquer parte das Configurações do projeto: `name`, `description`, `type`, `language`, `entry`, `command`, `installCommand`, `version`, `root`, `memoryMb`, `subdomain`, `port` e `systemPackages`, com as mesmas regras do [`cube.json`](/cube-json) e do plano. Nome e descrição valem na hora; o resto, no próximo início (`isRestartRequired`).\n\n**Permissão da chave:** `projects:settings` (Projetos · configurar). Veja [Chaves de API](/api-keys).",
        "tags": [
          "Projetos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "bot",
                      "site"
                    ]
                  },
                  "language": {
                    "type": "string"
                  },
                  "entry": {
                    "type": "string"
                  },
                  "command": {
                    "type": "string"
                  },
                  "installCommand": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "version": {
                    "type": "string"
                  },
                  "root": {
                    "type": "string"
                  },
                  "memoryMb": {
                    "type": "integer"
                  },
                  "subdomain": {
                    "type": "string"
                  },
                  "port": {
                    "type": "integer"
                  },
                  "systemPackages": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "build-essential",
                        "curl",
                        "fonts-dejavu-core",
                        "fonts-liberation",
                        "fonts-noto-cjk",
                        "fonts-noto-color-emoji",
                        "ghostscript",
                        "git",
                        "graphviz",
                        "imagemagick",
                        "libvips-tools",
                        "poppler-utils",
                        "python3",
                        "sqlite3",
                        "tesseract-ocr",
                        "tesseract-ocr-por",
                        "unzip",
                        "zip"
                      ]
                    }
                  }
                }
              },
              "example": {
                "memoryMb": 512,
                "command": "node dist/index.js"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -X PATCH \"https://app.cubehosting.com.br/api/projects/$PROJECT_ID\" \\\n  -H \"Authorization: Bearer $CUBE_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"memoryMb\": 512, \"command\": \"node dist/index.js\"}'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const API = 'https://app.cubehosting.com.br/api';\nconst headers = { Authorization: `Bearer ${process.env.CUBE_API_KEY}` };\n\nconst res = await fetch(`${API}/projects/${process.env.PROJECT_ID}`, {\n  method: 'PATCH',\n  headers: { ...headers, 'Content-Type': 'application/json' },\n  body: JSON.stringify({\"memoryMb\": 512, \"command\": \"node dist/index.js\"}),\n});\nconsole.log(await res.json());"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nAPI = \"https://app.cubehosting.com.br/api\"\nheaders = {\"Authorization\": f\"Bearer {os.environ['CUBE_API_KEY']}\"}\n\nr = requests.patch(\n    f\"{API}/projects/{os.environ['PROJECT_ID']}\",\n    headers=headers,\n    json={\"memoryMb\": 512, \"command\": \"node dist/index.js\"},\n    timeout=60,\n)\nr.raise_for_status()\nprint(r.json())"
          }
        ],
        "responses": {
          "200": {
            "description": "Salvo.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "project",
                    "isRestartRequired"
                  ],
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/Project"
                    },
                    "isRestartRequired": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "project": {
                    "id": "01J8Z3W6N0Q4Y7V2K5T9D1H3XA",
                    "name": "Meu bot",
                    "description": "Atende o servidor da loja",
                    "type": "bot",
                    "language": "node",
                    "version": "24",
                    "entry": "index.js",
                    "command": "node dist/index.js",
                    "build": null,
                    "installCommand": null,
                    "root": null,
                    "systemPackages": [],
                    "memoryMb": 512,
                    "port": null,
                    "subdomain": null,
                    "url": null,
                    "internalHost": "cube-t9d1h3xa",
                    "status": "running",
                    "error": null,
                    "hasAutoRestart": true,
                    "consecutiveCrashes": 0,
                    "lastExit": null,
                    "usage": {
                      "memoryMb": 83,
                      "cpuPercent": 1.2,
                      "networkInBps": 1200,
                      "networkOutBps": 300
                    },
                    "startedAt": "2026-09-26T18:01:05.000Z",
                    "templateId": null,
                    "restoredFromBackupId": null,
                    "createdAt": "2026-09-26T18:00:00.000Z",
                    "updatedAt": "2026-09-26T18:01:10.000Z"
                  },
                  "isRestartRequired": true
                }
              }
            }
          },
          "400": {
            "description": "Campo fora do formato, ou nenhum campo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "invalid_request",
                    "value": {
                      "status": "error",
                      "code": "invalid_request",
                      "message": "Envie o que quer mudar: nome, descrição, publicação na web (tipo), linguagem, arquivo principal, comando de início, comando de instalação, versão, pasta servida, memória, subdomínio, porta ou pacotes do sistema."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_api_key": {
                    "summary": "invalid_api_key",
                    "value": {
                      "status": "error",
                      "code": "invalid_api_key",
                      "message": "Chave de API inválida ou revogada. Confira o cabeçalho \"Authorization: Bearer <chave>\" ou crie outra em Chaves de API no painel."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave não tem a permissão.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_scope": {
                    "summary": "insufficient_scope",
                    "value": {
                      "status": "error",
                      "code": "insufficient_scope",
                      "message": "Esta chave não tem a permissão Projetos · configurar. Marque a permissão na chave em Chaves de API no painel, ou use outra chave.",
                      "requiredScope": "projects:settings"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "O projeto não existe ou não é da sua conta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "status": "error",
                      "code": "not_found",
                      "message": "Projeto não encontrado."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "O projeto está ocupado, ou o subdomínio é de outro.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "project_busy": {
                    "summary": "project_busy",
                    "value": {
                      "status": "error",
                      "code": "project_busy",
                      "message": "O projeto está sendo preparado ou já tem outra ação em andamento. Espere terminar."
                    }
                  },
                  "subdomain_taken": {
                    "summary": "subdomain_taken",
                    "value": {
                      "status": "error",
                      "code": "subdomain_taken",
                      "message": "Este subdomínio já está em uso. Escolha outro.",
                      "field": "subdomain"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "A configuração não vale no plano ou na linguagem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_config": {
                    "summary": "invalid_config",
                    "value": {
                      "status": "error",
                      "code": "invalid_config",
                      "message": "A memória mínima de um bot nos planos pagos é 256 MB.",
                      "field": "memoryMb"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de pedidos. Traz o cabeçalho `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limit_exceeded": {
                    "summary": "rate_limit_exceeded",
                    "value": {
                      "status": "error",
                      "code": "rate_limit_exceeded",
                      "message": "A sua conta passou do limite da API do plano Free: 10 pedidos por minuto. Espere 42 s e tente de novo."
                    }
                  },
                  "too_many_attempts": {
                    "summary": "too_many_attempts",
                    "value": {
                      "status": "error",
                      "code": "too_many_attempts",
                      "message": "Muitas tentativas. Tente de novo em 15 minutos."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "O servidor dos projetos não respondeu a tempo. Nada foi alterado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "server_unavailable": {
                    "summary": "server_unavailable",
                    "value": {
                      "status": "error",
                      "code": "server_unavailable",
                      "message": "O servidor dos projetos não respondeu. Tente de novo em instantes."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "projects:settings"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Excluir um projeto",
        "description": "Exclui o projeto: para, apaga os arquivos, a configuração e os logs. **É definitivo.** Os backups ficam na página Backups até vencer (30 dias), para baixar ou [restaurar como um projeto novo](/api-reference/backups/restore-as-new). Pede a permissão `projects:delete`, que só o modelo Tudo marca (nos outros, marque à mão), e numa equipe o papel Admin.\n\n**Permissão da chave:** `projects:delete` (Projetos · excluir). Veja [Chaves de API](/api-keys).",
        "tags": [
          "Projetos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -X DELETE \"https://app.cubehosting.com.br/api/projects/$PROJECT_ID\" \\\n  -H \"Authorization: Bearer $CUBE_API_KEY\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const API = 'https://app.cubehosting.com.br/api';\nconst headers = { Authorization: `Bearer ${process.env.CUBE_API_KEY}` };\n\nconst res = await fetch(`${API}/projects/${process.env.PROJECT_ID}`, {\n  method: 'DELETE',\n  headers,\n});\nconsole.log(res.status); // 204"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nAPI = \"https://app.cubehosting.com.br/api\"\nheaders = {\"Authorization\": f\"Bearer {os.environ['CUBE_API_KEY']}\"}\n\nr = requests.delete(\n    f\"{API}/projects/{os.environ['PROJECT_ID']}\",\n    headers=headers,\n    timeout=60,\n)\nr.raise_for_status()\nprint(r.status_code)  # 204"
          }
        ],
        "responses": {
          "204": {
            "description": "Excluído."
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_api_key": {
                    "summary": "invalid_api_key",
                    "value": {
                      "status": "error",
                      "code": "invalid_api_key",
                      "message": "Chave de API inválida ou revogada. Confira o cabeçalho \"Authorization: Bearer <chave>\" ou crie outra em Chaves de API no painel."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "O projeto não existe ou não é da sua conta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "status": "error",
                      "code": "not_found",
                      "message": "Projeto não encontrado."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "O projeto está ocupado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "project_busy": {
                    "summary": "project_busy",
                    "value": {
                      "status": "error",
                      "code": "project_busy",
                      "message": "O projeto está sendo preparado ou já tem outra ação em andamento. Espere terminar."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de pedidos. Traz o cabeçalho `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limit_exceeded": {
                    "summary": "rate_limit_exceeded",
                    "value": {
                      "status": "error",
                      "code": "rate_limit_exceeded",
                      "message": "A sua conta passou do limite da API do plano Free: 10 pedidos por minuto. Espere 42 s e tente de novo."
                    }
                  },
                  "too_many_attempts": {
                    "summary": "too_many_attempts",
                    "value": {
                      "status": "error",
                      "code": "too_many_attempts",
                      "message": "Muitas tentativas. Tente de novo em 15 minutos."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "O servidor dos projetos não respondeu a tempo. Nada foi alterado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "server_unavailable": {
                    "summary": "server_unavailable",
                    "value": {
                      "status": "error",
                      "code": "server_unavailable",
                      "message": "O servidor dos projetos não respondeu. Tente de novo em instantes."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave não tem a permissão `projects:delete`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_scope": {
                    "summary": "insufficient_scope",
                    "value": {
                      "status": "error",
                      "code": "insufficient_scope",
                      "message": "Esta chave não tem a permissão Projetos · excluir. Marque a permissão na chave em Chaves de API no painel, ou use outra chave.",
                      "requiredScope": "projects:delete"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "projects:delete"
            ]
          }
        ]
      }
    },
    "/projects/{id}/code": {
      "post": {
        "operationId": "uploadProjectCode",
        "summary": "Enviar novo código",
        "description": "Troca o código do projeto por um `.zip` novo. A configuração (tipo, linguagem, comando e memória) continua a mesma: um `cube.json` no `.zip` novo é ignorado. As dependências só são instaladas de novo se o `package.json`, o `package-lock.json` ou o `requirements.txt` mudou. Se o projeto estava ligado, ele volta com o código novo.\n\nO `.zip` novo substitui a pasta inteira do projeto (só as dependências instaladas ficam). Se for recusado, os arquivos de antes continuam lá. Um envio a cada 3 segundos por conta, somando com a criação de projetos.\n\n**Permissão da chave:** `projects:deploy` (Projetos · enviar código). Veja [Chaves de API](/api-keys).",
        "tags": [
          "Projetos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "O `.zip` com o código novo. Até 5 MB no Free e 10 MB nos planos pagos."
                  }
                }
              },
              "encoding": {
                "file": {
                  "contentType": "application/zip"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl https://app.cubehosting.com.br/api/projects/$PROJECT_ID/code \\\n  -H \"Authorization: Bearer $CUBE_API_KEY\" \\\n  -F \"file=@meu-bot.zip\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { openAsBlob } from 'node:fs';\n\nconst API = 'https://app.cubehosting.com.br/api';\nconst headers = { Authorization: `Bearer ${process.env.CUBE_API_KEY}` };\n\nconst form = new FormData();\nform.set('file', await openAsBlob('meu-bot.zip'), 'meu-bot.zip');\n\nconst res = await fetch(`${API}/projects/${process.env.PROJECT_ID}/code`, {\n  method: 'POST',\n  headers,\n  body: form,\n});\nconst { project, isReinstallingDependencies } = await res.json();\nconsole.log(project.status, isReinstallingDependencies);"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nAPI = \"https://app.cubehosting.com.br/api\"\nheaders = {\"Authorization\": f\"Bearer {os.environ['CUBE_API_KEY']}\"}\n\nwith open(\"meu-bot.zip\", \"rb\") as zip:\n    r = requests.post(\n        f\"{API}/projects/{os.environ['PROJECT_ID']}/code\",\n        headers=headers,\n        files={\"file\": (\"meu-bot.zip\", zip, \"application/zip\")},\n        timeout=300,\n    )\nr.raise_for_status()\nprint(r.json())"
          }
        ],
        "responses": {
          "202": {
            "description": "Código recebido. O projeto passa por `installing` e volta ao estado que você deixou.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/InstallStarted"
                    },
                    {
                      "type": "object",
                      "required": [
                        "hints"
                      ],
                      "properties": {
                        "hints": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SourceHint"
                          },
                          "description": "O que a análise do envio avisa (o compilado no lugar do código-fonte, as pastas que saíram por serem geradas no build). Vazia quando não há nada a avisar."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "project": {
                    "id": "01J8Z3W6N0Q4Y7V2K5T9D1H3XA",
                    "name": "Meu bot",
                    "description": "Atende o servidor da loja",
                    "type": "bot",
                    "language": "node",
                    "version": "24",
                    "entry": "index.js",
                    "command": "node index.js",
                    "build": null,
                    "installCommand": null,
                    "root": null,
                    "systemPackages": [],
                    "memoryMb": 256,
                    "port": null,
                    "subdomain": null,
                    "url": null,
                    "internalHost": "cube-t9d1h3xa",
                    "status": "installing",
                    "error": null,
                    "hasAutoRestart": true,
                    "consecutiveCrashes": 0,
                    "lastExit": null,
                    "usage": null,
                    "startedAt": null,
                    "templateId": null,
                    "restoredFromBackupId": null,
                    "createdAt": "2026-09-26T18:00:00.000Z",
                    "updatedAt": "2026-09-26T18:01:10.000Z"
                  },
                  "isReinstallingDependencies": false,
                  "hints": [
                    {
                      "code": "rebuilt_folders_removed",
                      "message": "Tiramos a pasta .next: ela é gerada no build aqui."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_api_key": {
                    "summary": "invalid_api_key",
                    "value": {
                      "status": "error",
                      "code": "invalid_api_key",
                      "message": "Chave de API inválida ou revogada. Confira o cabeçalho \"Authorization: Bearer <chave>\" ou crie outra em Chaves de API no painel."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave não tem a permissão `projects:deploy`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_scope": {
                    "summary": "insufficient_scope",
                    "value": {
                      "status": "error",
                      "code": "insufficient_scope",
                      "message": "Esta chave não tem a permissão Projetos · enviar código. Marque a permissão na chave em Chaves de API no painel, ou use outra chave.",
                      "requiredScope": "projects:deploy"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "O projeto não existe ou não é da sua conta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "status": "error",
                      "code": "not_found",
                      "message": "Projeto não encontrado."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "O projeto está ocupado ou a conta não pode instalar agora.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "project_busy": {
                    "summary": "project_busy",
                    "value": {
                      "status": "error",
                      "code": "project_busy",
                      "message": "O projeto está sendo preparado ou já tem outra ação em andamento. Espere terminar."
                    }
                  },
                  "account_suspended": {
                    "summary": "account_suspended",
                    "value": {
                      "status": "error",
                      "code": "account_suspended",
                      "message": "Sua conta está suspensa porque o Pix da renovação não foi pago, então os projetos ficam parados. Pague em Plano e cobrança: a conta volta na hora, e o que estava no ar sobe sozinho."
                    }
                  },
                  "beta_ending": {
                    "summary": "beta_ending",
                    "value": {
                      "status": "error",
                      "code": "beta_ending",
                      "message": "Seu beta terminou e a conta está voltando ao plano Free. Espere alguns minutos e tente de novo."
                    }
                  },
                  "free_slot_lost": {
                    "summary": "free_slot_lost",
                    "value": {
                      "status": "error",
                      "code": "free_slot_lost",
                      "message": "Sua vaga do Free acabou porque a meta de mensagens da semana no Discord não foi batida, então os projetos ficam parados. Os arquivos continuam guardados: assine um plano em Plano e cobrança para ligar de novo."
                    }
                  },
                  "account_suspended_manually": {
                    "summary": "account_suspended_manually",
                    "value": {
                      "status": "error",
                      "code": "account_suspended_manually",
                      "message": "Sua conta foi suspensa pela equipe da Cube: Página de phishing em loja.cubehost.dev. Os projetos ficam parados e nada sobe até a suspensão sair. Fale com o suporte no Discord para resolver."
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "O .zip passou do limite do plano (5 MB no Free, 10 MB nos pagos).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_zip": {
                    "summary": "invalid_zip",
                    "value": {
                      "status": "error",
                      "code": "invalid_zip",
                      "message": "O zip passa do limite de 5 MB do plano Free. Tire as dependências (elas são instaladas aqui) e arquivos que o projeto não usa.",
                      "limitMb": 5
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "O .zip foi recusado. Nada mudou no projeto.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_zip": {
                    "summary": "invalid_zip",
                    "value": {
                      "status": "error",
                      "code": "invalid_zip",
                      "message": "O arquivo não é um zip válido (corrompido, protegido por senha ou vazio). Gere o zip de novo e envie."
                    }
                  },
                  "unsafe_zip": {
                    "summary": "unsafe_zip",
                    "value": {
                      "status": "error",
                      "code": "unsafe_zip",
                      "message": "Descompactado, o projeto passa do limite de 500 MB. Tire os arquivos grandes que o bot não usa e envie de novo.",
                      "reason": "size"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de pedidos. Traz o cabeçalho `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limit_exceeded": {
                    "summary": "rate_limit_exceeded",
                    "value": {
                      "status": "error",
                      "code": "rate_limit_exceeded",
                      "message": "A sua conta passou do limite da API do plano Free: 10 pedidos por minuto. Espere 42 s e tente de novo."
                    }
                  },
                  "too_many_requests": {
                    "summary": "too_many_requests",
                    "value": {
                      "status": "error",
                      "code": "too_many_requests",
                      "message": "Muitas requisições seguidas. Espere alguns segundos e tente de novo."
                    }
                  },
                  "too_many_attempts": {
                    "summary": "too_many_attempts",
                    "value": {
                      "status": "error",
                      "code": "too_many_attempts",
                      "message": "Muitas tentativas. Tente de novo em 15 minutos."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "O servidor dos projetos não respondeu, ou as variáveis de ambiente não abriram (o projeto não sobe sem elas). Nada foi alterado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "server_unavailable": {
                    "summary": "server_unavailable",
                    "value": {
                      "status": "error",
                      "code": "server_unavailable",
                      "message": "O servidor dos projetos não respondeu. Tente de novo em instantes."
                    }
                  },
                  "variables_unavailable": {
                    "summary": "variables_unavailable",
                    "value": {
                      "status": "error",
                      "code": "variables_unavailable",
                      "message": "As variáveis de ambiente do projeto não puderam ser abertas agora. Tente de novo em instantes."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "projects:deploy"
            ]
          }
        ]
      }
    },
    "/projects/{id}/start": {
      "post": {
        "operationId": "startProject",
        "summary": "Iniciar um projeto",
        "description": "Liga o projeto. Se ele já está no ar, nada muda e a resposta é `200`. Só sobe o que cabe no plano agora, somando a memória dos projetos ligados. A resposta chega quando a ação termina (até 30 segundos).\n\n**Permissão da chave:** `projects:control` (Projetos · iniciar e parar). Veja [Chaves de API](/api-keys).",
        "tags": [
          "Controle"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -X POST https://app.cubehosting.com.br/api/projects/$PROJECT_ID/start \\\n  -H \"Authorization: Bearer $CUBE_API_KEY\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const API = 'https://app.cubehosting.com.br/api';\nconst headers = { Authorization: `Bearer ${process.env.CUBE_API_KEY}` };\n\nconst res = await fetch(`${API}/projects/${process.env.PROJECT_ID}/start`, {\n  method: 'POST',\n  headers,\n});\nconsole.log((await res.json()).project.status); // running"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nAPI = \"https://app.cubehosting.com.br/api\"\nheaders = {\"Authorization\": f\"Bearer {os.environ['CUBE_API_KEY']}\"}\n\nr = requests.post(\n    f\"{API}/projects/{os.environ['PROJECT_ID']}/start\", headers=headers, timeout=60\n)\nr.raise_for_status()\nprint(r.json()[\"project\"][\"status\"])"
          }
        ],
        "responses": {
          "200": {
            "description": "A ação terminou. O projeto vem com o status novo.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "project"
                  ],
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/Project"
                    }
                  }
                },
                "example": {
                  "project": {
                    "id": "01J8Z3W6N0Q4Y7V2K5T9D1H3XA",
                    "name": "Meu bot",
                    "description": "Atende o servidor da loja",
                    "type": "bot",
                    "language": "node",
                    "version": "24",
                    "entry": "index.js",
                    "command": "node index.js",
                    "build": null,
                    "installCommand": null,
                    "root": null,
                    "systemPackages": [],
                    "memoryMb": 256,
                    "port": null,
                    "subdomain": null,
                    "url": null,
                    "internalHost": "cube-t9d1h3xa",
                    "status": "running",
                    "error": null,
                    "hasAutoRestart": true,
                    "consecutiveCrashes": 0,
                    "lastExit": null,
                    "usage": {
                      "memoryMb": 83,
                      "cpuPercent": 1.2,
                      "networkInBps": 1200,
                      "networkOutBps": 300
                    },
                    "startedAt": "2026-09-26T18:01:05.000Z",
                    "templateId": null,
                    "restoredFromBackupId": null,
                    "createdAt": "2026-09-26T18:00:00.000Z",
                    "updatedAt": "2026-09-26T18:01:10.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_api_key": {
                    "summary": "invalid_api_key",
                    "value": {
                      "status": "error",
                      "code": "invalid_api_key",
                      "message": "Chave de API inválida ou revogada. Confira o cabeçalho \"Authorization: Bearer <chave>\" ou crie outra em Chaves de API no painel."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave não tem a permissão `projects:control`, ou o plano não inclui sites.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_scope": {
                    "summary": "insufficient_scope",
                    "value": {
                      "status": "error",
                      "code": "insufficient_scope",
                      "message": "Esta chave não tem a permissão Projetos · iniciar e parar. Marque a permissão na chave em Chaves de API no painel, ou use outra chave.",
                      "requiredScope": "projects:control"
                    }
                  },
                  "site_not_allowed": {
                    "summary": "site_not_allowed",
                    "value": {
                      "status": "error",
                      "code": "site_not_allowed",
                      "message": "O plano Free não inclui sites. Mude para um plano pago para colocar este site no ar."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "O projeto não existe ou não é da sua conta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "status": "error",
                      "code": "not_found",
                      "message": "Projeto não encontrado."
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "O projeto passa pela instalação antes de subir: as dependências não estão lá (a pasta `node_modules` ou `vendor` apagada pela aba Arquivos, ou a pasta, o ambiente do Python, as gems do Ruby ou as dependências do Elixir que sumiram de outro jeito), ou a versão da linguagem, o arquivo principal ou o comando de instalação mudaram em Configurações. Com as dependências no lugar e nada mudado, a resposta é `200`, sem instalar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallStarted"
                },
                "example": {
                  "project": {
                    "id": "01J8Z3W6N0Q4Y7V2K5T9D1H3XA",
                    "name": "Meu bot",
                    "description": "Atende o servidor da loja",
                    "type": "bot",
                    "language": "node",
                    "version": "24",
                    "entry": "index.js",
                    "command": "node index.js",
                    "build": null,
                    "installCommand": null,
                    "root": null,
                    "systemPackages": [],
                    "memoryMb": 256,
                    "port": null,
                    "subdomain": null,
                    "url": null,
                    "internalHost": "cube-t9d1h3xa",
                    "status": "installing",
                    "error": null,
                    "hasAutoRestart": true,
                    "consecutiveCrashes": 0,
                    "lastExit": null,
                    "usage": null,
                    "startedAt": null,
                    "templateId": null,
                    "restoredFromBackupId": null,
                    "createdAt": "2026-09-26T18:00:00.000Z",
                    "updatedAt": "2026-09-26T18:01:10.000Z"
                  },
                  "isReinstallingDependencies": true
                }
              }
            }
          },
          "409": {
            "description": "O projeto está ocupado, a instalação falhou, falta uma variável obrigatória do template ou a conta não pode iniciar agora.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "project_busy": {
                    "summary": "project_busy",
                    "value": {
                      "status": "error",
                      "code": "project_busy",
                      "message": "O projeto está sendo preparado ou já tem outra ação em andamento. Espere terminar."
                    }
                  },
                  "install_pending": {
                    "summary": "install_pending",
                    "value": {
                      "status": "error",
                      "code": "install_pending",
                      "message": "A instalação das dependências deste projeto não terminou. Envie o projeto de novo para instalar."
                    }
                  },
                  "missing_variables": {
                    "summary": "missing_variables",
                    "value": {
                      "status": "error",
                      "code": "missing_variables",
                      "message": "Este projeto veio de um template e precisa de DISCORD_TOKEN para iniciar. Defina em Variáveis de ambiente e inicie de novo.",
                      "missingVariables": [
                        "DISCORD_TOKEN"
                      ]
                    }
                  },
                  "account_suspended": {
                    "summary": "account_suspended",
                    "value": {
                      "status": "error",
                      "code": "account_suspended",
                      "message": "Sua conta está suspensa porque o Pix da renovação não foi pago, então os projetos ficam parados. Pague em Plano e cobrança: a conta volta na hora, e o que estava no ar sobe sozinho."
                    }
                  },
                  "beta_ending": {
                    "summary": "beta_ending",
                    "value": {
                      "status": "error",
                      "code": "beta_ending",
                      "message": "Seu beta terminou e a conta está voltando ao plano Free. Espere alguns minutos e tente de novo."
                    }
                  },
                  "free_slot_lost": {
                    "summary": "free_slot_lost",
                    "value": {
                      "status": "error",
                      "code": "free_slot_lost",
                      "message": "Sua vaga do Free acabou porque a meta de mensagens da semana no Discord não foi batida, então os projetos ficam parados. Os arquivos continuam guardados: assine um plano em Plano e cobrança para ligar de novo."
                    }
                  },
                  "account_suspended_manually": {
                    "summary": "account_suspended_manually",
                    "value": {
                      "status": "error",
                      "code": "account_suspended_manually",
                      "message": "Sua conta foi suspensa pela equipe da Cube: Página de phishing em loja.cubehost.dev. Os projetos ficam parados e nada sobe até a suspensão sair. Fale com o suporte no Discord para resolver."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ligar este projeto passa da memória do plano com os que já estão ligados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
[...]
